




    <ion-list>
      <a ng-click="goToPage('home')" class="item item-icon-left" href="">
        <i class="icon ion-home"></i>
        <h2>Home</h2>
      </a>
      <div class="item item-divider">
        Settings
      </div>

      <ion-item class="item item-toggle">
        Sound
        <label class="toggle toggle-positive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item>
        <label class="item item-input item-select">
          <div class="input-label">
            Language
          </div>
          <select>
            <option>English</option>
            <option selected>עברית</option>
            <option>Red</option>
          </select>
        </label>
      </ion-item>
    </ion-list>


