<ion-view>
  <header-bar></header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-click="goToChat(subject)" ng-repeat="subject in subjects">
        <h3>{{subject.title}}</h3>

        <p>{{subject.description}}</p>
        <ion-option-button ng-click="deleteSubject(subject)"
                           class="button-positive ion-android-delete"></ion-option-button>
      </ion-item>
    </ion-list>
    <div id="presenceDiv" class="l-demo-container example-base"></div>
  </ion-content>
</ion-view>

