<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

  <ion-tab title="SUBJECTS" ui-sref="tab.subjects">
    <ion-nav-view name="subjects-page"></ion-nav-view>
  </ion-tab>
  <!-- Dashboard Tab -->
  <ion-tab title="CHATS {{$root.rootChatCounter}}" ui-sref="tab.messages">
    <ion-nav-view name="messages-page"></ion-nav-view>
  </ion-tab>
  <ion-tab title="CONTACTS" ui-sref="tab.favorite">
    <ion-nav-view name="favorite-page"></ion-nav-view>
  </ion-tab>
  <!-- Account Tab -->
</ion-tabs>
